<h2>
    We played rock!
</h2>

<h2>
     They played <%= @computer_choice %>!
</h2>

<% if @computer_choice == "scissors" %>
  <h2>We won!</h2>

<% elsif @computer_choice == "rock" %>
  <h2>We tied!</h2>

<% else %>
  <h2>We lost!</h2>

<% end %>



<a href="/">
    Rules
</a>
